<!DOCTYPE HTML>
<html>
<head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <noscript><link rel="stylesheet" href="{{ '/assets/css/noscript.css' | relative_url }}" /></noscript>
    <link rel="icon" type="image/png" href="{{ '/images/logo.png' | relative_url }}">
</head>
<body class="is-preload">

    <div id="wrapper" class="fade-in">

        <header id="header">
            <a href="{{ '/' | relative_url }}" class="logo">{{ site.title }}</a>
        </header>

        <nav id="nav">
            <ul class="links">
                <li class="active"><a href="{{ '/' | relative_url }}">My Portfolio</a></li>
                <li><a href="#about">About</a></li>
            </ul>
                <ul class="icons">
                    <li><a href="https://www.linkedin.com/in/kiet-bui-84953b254/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="https://github.com/Chlorophriend" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                </ul>
        </nav>

        <div id="main">
            {{ content }}
        </div>

        <footer id="footer">
            <div class="copyright">
                <ul><li>&copy; {{ site.title }}</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
            </div>
        </footer>

    </div>

    <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/jquery.scrollex.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/jquery.scrolly.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/browser.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/breakpoints.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/util.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>

</body>
</html>